<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_fts">

    <xacro:macro name="robotiq_fts" params="parent prefix *origin">

        <!-- mount the fts to the robot -->
        <joint name="${prefix}fts_fix" type="fixed" >
            <!--In most cases origin would be flange adapter plate: <origin xyz="0 0 0.009" rpy="0 0 0"/> /-->
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}fts_robotside"/>
        </joint>

        <link name="${prefix}fts_robotside">
            <inertial>
                <origin xyz="0 0 0.0187" rpy="0 0 0"/>
                <mass value="0.3"/>
                <inertia ixx="0.000262" ixy="0" ixz="0" iyy="0.000265" iyz="0" izz="0.000219" />
            </inertial>

            <visual>
                <origin xyz="0 0 0.0187" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.0375" length="0.0375"/>
                    <!-- <mesh filename="package://robotiq_ft_sensor/meshes/visual/robotiq_fts150.stl"/> -->
                </geometry>
                <material name="black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0.0187" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.0375" length="0.0375"/>                
                    <!-- <mesh filename="package://robotiq_ft_sensors/meshes/collision/robotiq_fts150.stl"/> -->
                </geometry>
            </collision>
        </link>

        <!-- virtual measurement frame -->
        <joint name="${prefix}measurment_joint" type="fixed" >
            <!-- <origin xyz="0 0 0.01625" rpy="0 0 0" /> -->
            <origin xyz="0 0 0.0375" rpy="0 0 0" />
            <parent link="${prefix}fts_robotside" />
            <child link="${prefix}robotiq_ft_frame_id" />
        </joint>
        <link name="${prefix}robotiq_ft_frame_id"/>

        <!-- toolside frame -->
        <joint name="${prefix}toolside_joint" type="fixed" >
            <origin xyz="0 0 0.0375" rpy="0 0 0" />
            <parent link="${prefix}fts_robotside" />
            <child link="${prefix}fts_toolside" />
        </joint>
        <link name="${prefix}fts_toolside"/>

    </xacro:macro>
</robot>