<?xml version="1.0"?>
<!--
willbot_macro(prefix)

Creates a willow robotic arm with the passed in prefix.  If there
is only one arm in the urdf then an empty prefix can be used "".  If
there are multiple arms then a prefix followed by an "_" is needed.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- robotiq s model -->
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <!-- adapter -->
  <xacro:include filename="$(find willbot_description)/urdf/adapter.paris.macro.xacro" />
  <xacro:include filename="$(find willbot_description)/urdf/adapter.grenoble.macro.xacro" />  

  <xacro:macro name="willbot" params="prefix setup">

    <!-- arm -->
    <!-- be careful with non-stardart joint limits -->
    <xacro:if value="${setup == 'paris'}">
      <xacro:ur5_robot prefix="${prefix}" joint_limited="true"
        shoulder_pan_lower_limit="${-2*pi}" shoulder_pan_upper_limit="${0}"
        shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
        elbow_joint_lower_limit="${-2*pi}" elbow_joint_upper_limit="${0}"
        wrist_1_lower_limit="${-2*pi}" wrist_1_upper_limit="${0}"
        wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
        wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}" />
    </xacro:if>

    <xacro:if value="${setup == 'grenoble'}">
      <xacro:ur5_robot prefix="${prefix}" joint_limited="true"
        shoulder_pan_lower_limit="${-3*pi/2}" shoulder_pan_upper_limit="${pi/2}"
        shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
        elbow_joint_lower_limit="${-2*pi}" elbow_joint_upper_limit="${0}"
        wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
        wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
        wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}" />
    </xacro:if>

    <!-- hand -->
    <xacro:robotiq-3f-gripper_articulated prefix="${prefix}hand_"/>

    <!-- arm to hand adapter -->
    <xacro:if value="${setup == 'paris'}">
      <xacro:paris_adapter prefix="${prefix}"/>
    </xacro:if>

    <xacro:if value="${setup == 'grenoble'}">
      <xacro:grenoble_adapter prefix="${prefix}"/>
    </xacro:if>

    <!-- tool position -->
    <link name="${prefix}tool" />

    <joint name="${prefix}hand_base-tool_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.2"/>
      <parent link="${prefix}hand_base"/>
      <child link="${prefix}tool"/>
    </joint>

    <!-- hand palm plane position -->
    <link name="${prefix}hand_palm_plane" />

    <joint name="${prefix}hand_base-hand_palm_plane" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <parent link="${prefix}hand_base"/>
      <child link="${prefix}hand_palm_plane"/>
    </joint>

  </xacro:macro>

</robot>
