<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="willbot">

  <xacro:include filename="$(find willbot_description)/urdf/willbot.macro.xacro" />

  <xacro:arg name="setup" default=""/>
  <xacro:arg name="prefix" default=""/>

  <xacro:property name="setup" value="$(arg setup)"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>  

  <!-- robot -->
  <xacro:willbot setup="${setup}" prefix="${prefix}"/>
 	  
  <!-- connect to the world link -->
  <link name="world"/>

  <xacro:if value="${setup == 'paris'}">
    <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link = "base_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.01 0.0"/>
    </joint>
  </xacro:if>

  <xacro:if value="${setup == 'grenoble'}">
    <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link = "base_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-pi/2}"/>
    </joint>
  </xacro:if>  

</robot>
