<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find willbot_description)/urdf/willbot.urdf.xacro'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find willbot_description)/urdf/willbot.urdf.xacro'" />
</launch>
