<?xml version="1.0"?>
<!--
  Gripper launch.
  Opens MODBUS connection to the gripper.
  Starts gripper hardware interface.

  Usage:
    gripper_ros_control.launch gripper_ip:=<value>
-->
<launch>
  <arg name="prefix" default="hand_" />
  <arg name="gripper_ip" default="192.168.1.11" />
  <arg name="gripper_name" default="gripper" />
  <arg name="init_gripper" default="true" />

  <!-- Load hardware interface -->
  <node name="$(arg gripper_name)" pkg="robotiq_3f_gripper_control" type="robotiq_3f_gripper_modbus_node" output="screen">
    <param name="ip_address" value="$(arg gripper_ip)" />
    <param name="prefix" value="$(arg prefix)" />
    <param name="hw_name" value="$(arg gripper_name)" />
  </node>

  <group ns="$(arg gripper_name)">

    <!-- load controller settings -->
    <rosparam file="$(find willbot_bringup)/config/gripper_controllers.yaml" command="load"/>

    <!-- spawn controller manager -->
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="$(arg prefix)joint_state_controller $(arg prefix)gripper_controller" />

    <!-- load other controller -->
    <!-- <node name="gripper_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
      output="screen" args="load $(arg prefix)trajectory_controller" /> -->

  </group>

  <!--  initialize gripper if needed -->
  <group if="$(arg init_gripper)">
    <node pkg="willbot_bringup" type="init_gripper.py" name="init_gripper" output="screen">
        <param name="gripper_name" value="$(arg gripper_name)" />
    </node>
  </group>

</launch>
