<?xml version="1.0"?>
<!--
  Kinect 2 launch.

  Usage:
    kinect2_bringup.launch param:=<value>
-->
<launch>

  <arg name="base_name" default="kinect2"/>
  <arg name="fps_limit" default="-1.0" />
  <arg name="depth_method" default="cuda" />
  <arg name="reg_method" default="opencl" />
  <arg name="max_depth" default="2.0"/>
  <arg name="min_depth" default="0.0"/>
  <arg name="bilateral_filter" default="false"/>
  <arg name="edge_aware_filter" default="false"/>
  <arg name="publish_tf" default="true" />
  <arg name="base_name_tf" default="$(arg base_name)" />
  <arg name="calib_path" value="$(find kinect2_bridge)/data/"/>

  <group if="$(eval base_name == 'kinect2')">
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" pass_all_args="true"/>
  </group>

  <group if="$(eval base_name == 'kinect2_01')">
    <arg name="sensor" default="001419663847"/>
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" pass_all_args="true"/>
    <node name="$(anon tf_publisher)" pkg="tf" type="static_transform_publisher"
      launch-prefix="/bin/bash -c '$* `rosparam get /sensors/$(arg base_name)/pose` 50' --"/>
  </group>

  <group if="$(eval base_name == 'kinect2_02')">
    <arg name="sensor" default="001792263847"/>
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" pass_all_args="true"/>
    <node name="$(anon tf_publisher)" pkg="tf" type="static_transform_publisher"
      launch-prefix="/bin/bash -c '$* `rosparam get /sensors/$(arg base_name)/pose` 50' --"/>
  </group>

</launch>
