<launch>
    <arg name="device_ids" default="0,1" />
    
    <arg name="image_width" default="640" />
    <arg name="image_height" default="480" />
    <arg name="framerate" default="30" />
    <arg name="pixel_format" default="mjpeg" />
    <arg name="io_method" default="mmap" />

    <arg name="view" default="False" />

    <arg name="first_id" value="$(eval str(device_ids).split(',')[0])" />
    <arg name="other_ids" value="$(eval ','.join(str(device_ids).split(',')[1:]))" />  

    <!-- Start first camera -->
    <include file="$(find willbot_bringup)/launch/usbcam_bringup.launch">
        <arg name="device_id" value="$(arg first_id)"/>
        <arg name="image_width" value="$(arg image_width)" />
        <arg name="image_height" value="$(arg image_height)" />
        <arg name="framerate" value="$(arg framerate)" />
        <arg name="pixel_format" value="$(arg pixel_format)" />
        <arg name="io_method" value="$(arg io_method)"/>
        <arg name="view" value="$(arg view)"/>
    </include>

    <!-- Recursively start other cameras -->
    <group if="$(eval len(str(other_ids)) > 0)">
        <include file="$(find willbot_bringup)/launch/usbcam_bringup_many.launch">
            <arg name="device_ids" value="$(arg other_ids)"/>
            <arg name="image_width" value="$(arg image_width)" />
            <arg name="image_height" value="$(arg image_height)" />
            <arg name="framerate" value="$(arg framerate)" />
            <arg name="pixel_format" value="$(arg pixel_format)" />
            <arg name="io_method" value="$(arg io_method)"/>
            <arg name="view" value="$(arg view)"/>
        </include>
    </group>

</launch>
