<launch>
    <arg name="device_id" default="0" />

    <arg name="video_device" default="/dev/video$(arg device_id)" />
    <arg name="camera_frame_id" default="usb_cam_$(arg device_id)" />
    <arg name="image_width" default="640" />
    <arg name="image_height" default="480" />
    <arg name="framerate" default="30" />
    <arg name="pixel_format" default="mjpeg" />
    <arg name="io_method" default="mmap" />

    <arg name="view" default="False" />

    <node name="usb_cam_$(arg device_id)" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="$(arg video_device)" />
        <param name="image_width" value="$(arg image_width)" />
        <param name="image_height" value="$(arg image_height)" />
        <param name="framerate" value="$(arg framerate)" />
        <param name="pixel_format" value="$(arg pixel_format)" />
        <param name="io_method" value="$(arg io_method)"/>
        <param name="camera_frame_id" value="$(arg camera_frame_id)" />
    </node>

    <group if="$(arg view)">
        <node name="$(anon image_view)" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="/usb_cam_$(arg device_id)/image_raw"/>
            <param name="autosize" value="true" />
        </node>
    </group>

</launch>
