<?xml version="1.0"?>
<!--
  Arm + gripper launch.  Loads willbot description. 
  Connects to arm and gripper. Starts moveit interface.

  Usage:
    willbot_real.launch robot_ip:=<value> gripper_ip:=<value>
-->
<launch>
  
  <arg name="robot_ip" default="192.168.1.20"/>
  <arg name="gripper_ip" default="192.168.1.11"/>

  <arg name="gripper_name" default="gripper" />
  <arg name="arm_name" default="arm" />

  <arg name="ur_limited" default="false"/>

  <!-- customize logging settings -->
  <include file="$(find willbot_bringup)/launch/customize_log.launch" />

  <!-- upload robot model -->
  <include file="$(find willbot_description)/launch/willbot_upload.launch">
    <arg name="limited" value="$(arg ur_limited)"/>
  </include>

  <!-- bringup arm -->
  <include file="$(find willbot_bringup)/launch/ur_ros_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="arm_name" default="$(arg arm_name)" />
  </include>

  <!-- bringup gripper -->
  <include file="$(find willbot_bringup)/launch/gripper_ros_control.launch">
    <arg name="gripper_ip" value="$(arg gripper_ip)"/>
    <arg name="gripper_name" default="$(arg gripper_name)" />
  </include>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="50"/>
    <rosparam param="source_list">[/arm/joint_states, /gripper/joint_states]</rosparam>
  </node>

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- moveit -->
  <include file="$(find willbot_moveit_config)/launch/willbot_moveit_planning_execution.launch" />

  <!-- kinect -->
  <include file="$(find willbot_bringup)/launch/kinect_bringup.launch" />

</launch>