<?xml version="1.0"?>
<!--
  Simulator launch.  Loads willbot description. 
  Starts Gazebo. Starts moveit interface.

  Usage:
    willbot_demo.launch
-->
<launch>
  
  <arg name="setup" default="paris"/>

  <!-- robot model -->
  <include file="$(find willbot_description)/launch/willbot_upload.launch">
    <arg name="setup" value="$(arg setup)"/>    
  </include>

  <!-- moveit -->
  <include file="$(find willbot_moveit_config)/launch/demo.launch" />

</launch>