<?xml version="1.0"?>
<!--
  Arm + gripper launch.  Loads willbot description. 
  Connects to arm and gripper. Starts moveit interface.

  Usage:
    willbot_real.launch
      [setup:=<paris|grenoble>]
      [robot_ip:=<value>] [gripper_ip:=<value>] 
      [camera:=<kinect|kinect2|realsense|none>]
      [init_gripper:=<true|false>]
      [speed_preset:=<normal|fast>]
-->
<launch>
  <arg name="setup" default="paris"/>

  <arg if="$(eval setup == 'paris')"    name="robot_ip" default="192.168.1.20" />
  <arg if="$(eval setup == 'grenoble')" name="robot_ip" default="192.168.1.1" />  
  <arg name="gripper_ip" default="192.168.1.11"/>

  <!-- Arm speed limits preset, one of normal, -->
  <arg name="speed_preset" default="normal" />

  <arg name="init_gripper" default="true" />

  <arg name="camera" default="none"/>

  <!-- set global parameter for any node -->
  <param name="willbot_setup" value="$(arg setup)"/> 

  <!-- customize logging settings -->
  <include file="$(find willbot_bringup)/launch/customize_log.launch"/>

  <!-- upload robot model -->
  <include file="$(find willbot_description)/launch/willbot_upload.launch">
    <arg name="setup" value="$(arg setup)"/>
  </include>

  <!-- bringup gripper -->
  <include file="$(find willbot_bringup)/launch/gripper_ros_control.launch">
    <arg name="gripper_ip" value="$(arg gripper_ip)"/>
    <arg name="gripper_name" value="gripper" />
    <arg name="init_gripper" value="$(arg init_gripper)" />
  </include>

  <!-- bringup arm -->
  <include file="$(find willbot_bringup)/launch/ur_ros_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="arm_name" value="arm" />
  </include>

  <!-- combine joint states from arm and hand -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="50"/>
    <rosparam param="source_list">[/arm/joint_states, /gripper/joint_states]</rosparam>
  </node>

  <!-- convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- moveit -->
  <include file="$(find willbot_moveit_config)/launch/willbot_moveit_planning_execution.launch">
    <!--arg name="debug" default="$(arg debug)" /-->
    <arg name="speed_limits" value="$(arg speed_preset)"/>
  </include>

  <!-- camera -->
  <include file="$(find willbot_bringup)/launch/camera_bringup.launch">
    <arg name="camera" value="$(arg camera)" />
  </include>

</launch>