<launch>
    <arg name="dev" default="/dev/input/js0" />

    <!-- Launch joy node -->
    <node pkg="joy" type="joy_node" name="joy">
        <param name="dev" value="$(arg dev)" /> <!-- Customize this to match the location your joystick is plugged in on-->
        <param name="deadzone" value="0.2" />
        <param name="autorepeat_rate" value="40" />
        <param name="coalesce_interval" value="0.025" />
    </node>

    <node pkg="willbot_scripts" type="joy_control.py" name="joy_control" respawn="true" output="screen" />
</launch>
